---
import BaseHead from "../components/BaseHead.astro";
import Container from '../components/Container.astro';
import Content from '../components/Content.astro';
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PostTitle from '../components/PostTitle.astro';
import PostContent from '../components/PostContent.astro';
import PostBanner from '../components/PostBanner.astro';

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Container>
      <Header />

      <Content>
        <PostTitle class="title">{title}</PostTitle>
        <PostBanner src={heroImage} />
        <PostContent pubDate={pubDate} updatedDate={updatedDate}>
          <slot />
        </PostContent>
      </Content>

      <Footer />
    </Container>
  </body>
</html>
